body{
    margin: 0;
    overflow: hidden;
    font-size: 100%;
}

#video-chat{
    display: flex;
    align-items: center;
    position: absolute;
    width: 75%;
    height: 90%;
    left: 0;
    top: 0;
    justify-content: center;
    overflow-y: auto;
}
#text-chat{
    display: inline-block;
    position: absolute;
    left: 75%;
    width: 25%;
    height: 100vh;
    background-color: rgb(215, 225, 229);
}

/* text-chat */
.intext-notifier{
    text-align: center;
    padding: 3%;
}

.intext-time{
    text-align: center;
    padding: 0;
    padding-top: 2em;
    font-family: comfortaa, sans-serif;
    opacity: 0.7;
    font-size: 0.7em;
}

#chats-container{
    height: 90vh;
    overflow-y: scroll;
}

.chatblock{
    width: 100%;
    display: block;
    float: left;
    color: white;
}

.chattext{
    padding-bottom: 0.2em;
}

.theirchat{
    background-color: #216383;
    display: inline-block;
    word-wrap: break-word;
    padding:10px;
    padding-bottom: 7px;
    width: auto;
    max-width: 80%;
    border-radius: 4px 12px 12px 12px;
    margin: 3%;
}

.mychat{
    background-color: #65aca9;
    word-wrap: break-word;
    padding:10px;
    padding-bottom: 7px;
    width: auto;
    max-width: 80%;
    border-radius: 12px 4px 12px 12px;
    margin: 3%;
    margin-right: 5%;
    float: right;
    text-align: right;
}
.sender{
    font-weight: bold;
    font-size: 0.85em;
    opacity: 0.8;
    /* margin-left: -5px; */
    margin-top: 0.3em;
    padding-bottom: 0.6em;

}

#chat-form{
    position: absolute;
    width: 100%;
    bottom: 10vh;
}

#chat-input{
    width: 85%;
    height: 3em;
    position: absolute;
    margin-left: 5%;
    padding: 0;
    padding-left: 10px;
    border: none;
    border-radius: 20px;
    background-color: #65aca9;
    color: white;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
#chat-input::placeholder{
    color: white;
    opacity: 0.6;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
}
#chat-input:focus{
    font-family: myfont, sans-serif;
    outline: none;
}
#chat-send-button{
    width: 20%;
    height: 2.5em;
    margin-top: 0.25em;
    font-weight: bold;
    border-radius: 0;
    position: absolute;
    margin-left: 71%;
    border-radius: 20px;
    padding: 0;
}

/* video-chat */

video {
    width: 100%;
    height: auto;
    max-height: 100%;
    z-index: 1;
    border-radius: 20px;
    display: block;
}
#grid-of-videos{
    display: grid;
    width: 75%;
    max-height: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0 1em;
}
.video-container{
    /* width: 200px;
    height: 200px; */
    height: 100%;
}

.name{
    text-align: center;
    font-size: 0.9em;
    padding: 0.4em;
    padding-top: 3em;
    margin-top: -2.5em;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background-color: #65aca9;
}

/* Control bar */
#control-bar{
    position: absolute;
    border-radius: 30px 30px 0px 0px;
    width: 44%;
    padding: 1.5em;
    padding-top: 1em;
    bottom: -4%;
    left:14%;
    height: 8%;
    background-color: #65aca9;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 0.8em;
}

.control-button{
    z-index: 2;
    margin-left: 2%;
    height: 3em;
    padding: 8px;
    padding-left: 1em;
    padding-right: 1em;
    min-width: 40px;
}

/* Full screen  */
#fullscreen{
    position: absolute;
}

#fullscreen > video{
    height: 97%;
    max-width: 100%;
}

#fullscreen > .name{
    bottom: 0;
    padding:0.4em;
    margin-top: 0;
    border-radius: 0;
}

#exit-fullscreen-button{
    position: absolute;
    right: 5%;
    top: 5%;
    color: white;
}

.fullscreen-open{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    z-index: 4;
}

/* Phone style */
#openchat-button{
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 500;
    margin-right: 5%;
}
@media (max-aspect-ratio: 4/5){
    #video-chat{
        width: 100%;
    }
    #text-chat{
        width: 0%;
        left: 0%;
        opacity: 0;
        height: 95vh;

    }
    #openchat-button{
        position: absolute;
        width: auto;
        height: auto;
        opacity: 1;
        right: 0%;
        top: 2%;
    }
    #control-bar{
        width: 90%;
        padding:1em;
        padding-right:20%;
        bottom: -2.5%;
        left: 0;
        border-radius: 0;
    }
    #chat-form{
        bottom: 20vh;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.6); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.8);  
}