<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colloquium</title>
    <script src="https://kit.fontawesome.com/6f0f1bb31d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/interface.css">
    <link rel="stylesheet" href="/app.css">
    <script type="text/javascript">
        // window.addEventListener('beforeunload', function (e) {
        //     e.preventDefault();
        //     e.returnValue = '';
        // });
    </script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script> 
        const room = "<%= key %>"
        const myname = "<%= name %>"
        const myusername = "<%= username %>"
    </script>
    <script defer src="/videochat.js"></script>
    <script defer src="/textchat.js"></script>
    <style>
    
    </style>
</head>
<body>
    <div id="control-bar">
        <button id="copyroom-button" class="control-button" onclick="copyroom()">Copy room</button>
        <button id="screenshare-button" class="control-button">Share screen</button>
        <button id="joincall-button" class="control-button" title="Join/Leave call"><i class="fas fa-phone"></i></button>
        <button id="mute-button" class="control-button" title="Mute/Unmute"><i class="fas fa-microphone"></i></button>
        <button id="camera-button" class="control-button" title="Camera On/Off"><i class="fas fa-video"></i></button>
    </div>
    <button id="openchat-button" class="control-button"><i class="fas fa-comments"></i></button>
    <div id="video-chat">
        <div id="grid-of-videos">
            <div class="video-container"><video id="my-video" muted></video></div>
        </div>
    </div>
    <div id="text-chat">
        <div id="chats-container">
            <div class="intext-notifier"> <br>
                <b>You have joined the room</b><br> <br>
                Invite others by typing "#invite &lt;username&gt;" into the chatbox <br> <br>
                Click on the videos to enlarge
            </div>
        </div>
        <form id="chat-form">
            <input type="text" name="" id="chat-input" placeholder="Your message" autocomplete="off">
            <button id="chat-send-button">Send</button>
        </form>
    </div>
    <div id="fullscreen"><button id="exit-fullscreen-button" class="control-button" onclick="exitfullscreen()"><i class="fas fa-times" ></i></button></div>
</body>
</html>